[submodule "oca/stock-logistics-warehouse"]
	path = oca/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 19.0
[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 19.0
[submodule "oca/credit-control"]
	path = oca/credit-control
	url = https://github.com/OCA/credit-control.git
	branch = 19.0
[submodule "oca/stock-logistics-reporting"]
	path = oca/stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
	branch = 19.0
[submodule "oca/product-attribute"]
	path = oca/product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 19.0
